<div class="container mt-3">
    <div class="row">

        <section class="col-md-3">
          <ng-container *ngIf="authors.length > 0 && genres.length > 0">
            <h3 class="text-warning ms-3 mt-4 mb-3">Sortiraj</h3>
            <select class="form-select mb-4" (change)="onSortSelected($any($event.target).value)">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">
                  {{sort.name}}
                </option>
            </select>

            <h3 class="text-warning ms-3">Žanrovi</h3>
            <ul class="list-group my-3">
                <li class="list-group-item" 
                *ngFor="let genre of genres" aria-current="true"
                [class.active]="genre.id === shopParams.genreId"
                [value]="genre.id"
                (click)="onGenreSelected(genre.id)">
                  {{genre.name}}
                </li>
              </ul>

              <h3 class="text-warning ms-3">Pisci</h3>
              <ul class="list-group my-3">
                <li class="list-group-item" *ngFor="let author of authors" aria-current="true"
                [class.active]="author.id === shopParams.authorId"
                [value]="author.id"
                (click)="onAuthorSelected(author.id)">
                  {{author.fullName}}
                </li>
              </ul>
            </ng-container>
        </section>

        <section class="col-md-9">
            <div class="d-flex justify-content-between align-items-center pb-2">

              <app-paging-header
                [totalCount]="totalCount"
                [pageNumber]="shopParams.pageNumber"
                [pageSize]="shopParams.pageSize">
              </app-paging-header>

                <div class="form-inline" *ngIf="books!.length > 0">
                    <div class="input-group">
                        <input (keyup.enter)="onSearch()" class="form-control mt-2 me-2" #search style="width: 300px; height: fit-content;" placeholder=" Pretraži knjige..." type="text">
                        <button (click)="onSearch()" class="btn btn-outline-primary my-2"> Pretraži</button>
                        <button (click)="onReset()" class="btn btn-outline-success ms-2 my-2"> Resetuj</button>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col-md-3 mb-4" *ngFor="let book of books">
                  <app-book [book]="book"></app-book>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="totalCount! > 0">
              <app-pager
              [totalCount]="totalCount"
              [pageSize]="shopParams.pageSize"
              (pageChanged)="onPageChanged($event)">
              </app-pager>
            </div>
        </section>
    </div>
</div>
