<div class="container">
    <carousel>
        <slide>
            <img class="carousel-img" src="assets\images\hero1.png" alt="Prvi slajd" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img class="carousel-img" src="assets\images\hero2.png" alt="Drugi slajd" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img class="carousel-img" src="assets\images\hero3.png" alt="Treći slajd" style="display: block; width: 100%;">
        </slide>
    </carousel>
    <section class="featured">
        <div class="d-flex justify-content-center pt-4">
            <h1>Dobrodošli u E-Knjižaru</h1>
        </div>
    </section>
    <section class="catagory_section layout_padding">
        <div class="catagory_container">
          <div class="container ">
            <div class="heading_container heading_center">
              <h2>
                Knjige svih žanrova
              </h2>
              <p>
                Naša knjižara nudi knjige svih žanrova najpopularnijih pisaca današnjice.
              </p>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-4 ">
                <div class="box ">
                  <div class="img-box">
                    <img src="assets/images/cat1.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Klasici
                    </h5>
                    <p>
                      
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 ">
                <div class="box ">
                  <div class="img-box">
                    <img src="assets/images/cat2.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Naučna fantastika
                    </h5>
                    <p>
                      
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 ">
                <div class="box ">
                  <div class="img-box">
                    <img src="assets/images/cat3.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Istorijski
                    </h5>
                    <p>
                      
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 ">
                <div class="box ">
                  <div class="img-box">
                    <img src="assets/images/cat4.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Biografije
                    </h5>
                    <p>
                     
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 ">
                <div class="box ">
                  <div class="img-box">
                    <img src="assets/images/cat5.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Ljubavni
                    </h5>
                    <p>
                     
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 ">
                <div class="box ">
                  <div class="img-box">
                    <img src="assets/images/cat6.png" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      Fantastika
                    </h5>
                    <p>
                     
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="info_section">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-3 mb-4 mt-5">
              <div class="info_detail">
                <h4>
                  O nama
                </h4>
                <p>
                  Vitae aut explicabo fugit facere alias distinctio, exem commodi mollitia minusem dignissimos atque asperiores incidunt vel voluptate iste
                </p>
                <div class="info_social">
                  <a href="https://www.facebook.com/profile.php?id=100004434180980">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://x.com/nikolicfilip20">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/filip-nikolic-183527225/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.instagram.com/nikolicfilip01">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mt-5" style="margin-left: 250px;">
              <div class="info_contact">
                <h4>
                  Adresa
                </h4>
                <div class="contact_link_box">
                  <a href="http://ftn.uns.ac.rs/691618389/fakultet-tehnickih-nauka">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                      Lokacija
                    </span>
                  </a>
                  <a href="http://ftn.uns.ac.rs/691618389/fakultet-tehnickih-nauka">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                      +01 1234567890
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                      nikolicfilip20@gmail.com
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
