<ng-container *ngIf="publisher">
    <div class="row" id="publisher">

        <div id="autor-foto" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <img src="{{publisher.logoURL}}" class="foto-r" alt="{{publisher.name}}">
        </div>
        
        <div id="autor-bio" class="col-lg-20 col-md-20 col-sm-20 col-xs-24">
            <h1>{{publisher.name}}</h1>
            <div style="text-align: justify;"> {{publisher.description}}</div>
        </div>           
                             
    </div>
</ng-container>
