<div class="card h-100 shadow-sm">
  <div class="image position-relative" style="cursor: pointer;">
    <img src="{{ book.pictureURL }}" alt="{{book.title}" class="img-fluid" />
    <div class="d-flex align-items-center justify-content-center hover-overlay">
      <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-primary" routerLink="/shop/{{book.id}}">View</button>
    </div>
  </div>
  <div class="card-body d-flex-column">
    <a routerLink="/shop/{{book.id}}" style="text-decoration: none">
      <h4 class="text-uppercase">{{ book.title }}</h4>
    </a>
    <span class="mb-5">{{ book.price | currency }}</span>
  </div>
</div>
