<ng-container *ngIf="author">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-2">
                <div class="card border-0 shadow" style="width: fit-content; height: fit-content;">
                    <img src="{{author.profilePictureURL}}" alt="{{author.fullName}}">
                </div>
            </div>
            <div class="col-md-10">
                <div class="ps-lg-1-6 ps-xl-5">
                    <div class="mb-5 wow fadeIn">
                        <div class="text-start mb-1-6 wow fadeIn">
                            <h2 class="h1 mb-0 text-primary">{{author.fullName}}</h2>
                        </div>
                        <p>{{author.biography}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
