<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje žanra</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje žanra: {{genre.name}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje žanra: {{genre.name}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
       <div class="form">
        <mat-form-field class="form-field">
            <input matInput placeholder="Naziv" name="Naziv" [disabled]="flag==3" [(ngModel)]="genre.name" required />
        </mat-form-field>
       </div>

       <div class="form">
        <mat-form-field class="form-field">
            <input matInput placeholder="Opis" name="Opis" [disabled]="flag==3" [(ngModel)]="genre.description" required />
        </mat-form-field>
       </div>

        <div class="mat-dialog-actions form-field">
            <button mat-raised-button color="primary" *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="addGenre()">Sačuvaj</button>
            <button mat-raised-button color="primary" *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="updateGenre()">Modifikuj</button>
            <button mat-raised-button color="primary" *ngIf="flag == 3" mat-dialog-close="1" (click)="deleteGenre()">Obriši</button>
            <button mat-raised-button color="warn" (click)="cancel()">Poništi</button>
        </div>
    </form>
</div>
