<ng-container *ngIf="shoppingCart$ | async">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="border-0" [class.bg-light]="isShoppingCart" scope="col">
                        <div class="p-2 px-3 text-uppercase">Proizvod </div>
                    </th>
                    <th class="border-0" [class.bg-light]="isShoppingCart" scope="col">
                        <div class="py-2 text-uppercase">Cena</div>
                    </th>
                    <th class="border-0" [class.bg-light]="isShoppingCart" scope="col">
                        <div class="py-2 text-uppercase">Količina</div>
                    </th>
                    <th class="border-0" [class.bg-light]="isShoppingCart" scope="col">
                        <div class="py-2 text-uppercase">Ukupno</div>
                    </th>
                    <th *ngIf="isShoppingCart" class="border-0 bg-light" scope="col">
                        <div class="py-2 text-uppercase text-center">Obriši</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of (shoppingCart$ | async)?.items">
                    <th scope="row">
                        <div class="p-2">
                            <img src="{{item.pictureURL}}" alt="{{item.bookTitle}}" class="img-fluid" style="max-height: 100px;">
                            <div class="ms-3 d-inline-block align-middle">
                                <h5 class="mb-0">
                                    <a routerLink="/shop/{{item.id}}" class="text-dark fw-bolder fs-5">{{item.bookTitle}}</a>
                                </h5>
                                <span class="text-muted fw-normal fst-italic d-block">Izdavač: {{item.publisher}}</span>
                            </div>
                        </div>
                    </th>
                    <td class="align-middle"><strong>{{item.price | currency:"RSD ":"symbol"}}</strong></td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center" [class.justify-content-center]="!isShoppingCart">
                            <i *ngIf="isShoppingCart" (click)="decrementItemQuantity(item)" class="fa fa-minus-circle text-warning me-2" style="cursor: pointer; font-size: 2em;"></i>
                            <span class="fw-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
                            <i *ngIf="isShoppingCart" (click)="incrementItemQuantity(item)" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
                        </div>
                    </td>
                    <td class="align-middle"><strong>{{item.price * item.quantity |currency:"RSD ":"symbol"}}</strong>
                    </td>
                    <td class="align-middle text-center">
                        <a class="text-danger">
                            <i *ngIf="isShoppingCart" (click)="removeItemFromShoppingCart(item)" class="fa fa-trash" style="cursor: pointer; font-size: 2em;"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>